@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

/* #header {
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
} */

/* #map-container {
  position: absolute;
  width: 100%;
  height: 85vh;
} */

#map {
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;

}

.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding-left: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: scroll;
 
}

#capasContainer{
  
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 25vh; 
  max-height: 30vh;
  overflow: scroll;

}

.interactions {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-right: 2rem;
  z-index: 1;
} 

#leyenda{
  max-height: fit-content;

  max-width: auto;
  
}

h3{
  color: #3081D0; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  
}

label{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: small;
}

button{
  color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #3081D0; 
  padding: .5rem;
  border-radius: 0.5rem;
}

