@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.interactions {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 10px;
  padding-left: 50px;
}